*, ::after, ::before {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}

:root {
	--user-font-scale: 1rem - 16px;
	--max-width: calc(100% - 1rem);

	--font-body: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	--font-mono: 'IBM Plex Mono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

	--theme-accent: #006ce9;
	--theme-text: #181818;
}

@media (min-width: 50em) {
	:root {
		--max-width: 46em;
	}
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html {
	font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
	  Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	  Segoe UI Symbol, 'Noto Color Emoji';
	color: #0e201a;

	--scroll-margin-top: 120px;
	--qwik-blue: #0093ee;
	--qwik-dark-blue: #006ce9;
	--qwik-light-blue: #daf0ff;
	--qwik-purple: #ac7ef4;

	--header-height: 118px;
	--repl-tab-height: 56px;
	--repl-tab-bg-color: var(--qwik-light-blue);
	--panel-toggle-height: 0px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--font-body);
	font-size: 1rem;
	font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);
	line-height: inherit;
	max-width: 100vw;
	background: var(--theme-bg);
	-webkit-font-smoothing: antialiased;
}

main {
	padding: 10px 20px;
	max-width: 960px;
	margin: 0 auto;
}

a {
	color: var(--theme-accent);
}

a:hover {
	text-decoration: none;
}

code,
kbd,
samp,
pre {
	font-family: var(--font-mono);
}

code {
	background-color: rgb(224, 224, 224);
	padding: 2px 4px;
	border-radius: 3px;
	font-size: 0.9em;
	border-bottom: 2px solid #bfbfbf;
}
